<div class="visitor-counter" style="margin-top: 1em; padding-top: 1em; border-top: 1px solid #eee; font-size: 0.75em; text-align: center; color: #999;">
  <div id="sfcd8we95txu4js7x5xgqawy938ap4r3btc"></div>
  <script type="text/javascript" src="https://counter11.optistats.ovh/private/counter.js?c=d8we95txu4js7x5xgqawy938ap4r3btc&down=async" async></script>
  <noscript>
    <a href="https://www.freecounterstat.com" title="page counter">
      <img src="https://counter11.optistats.ovh/private/freecounterstat.php?c=d8we95txu4js7x5xgqawy938ap4r3btc" border="0" title="page counter" alt="page counter">
    </a>
  </noscript>
</div>
